---
---

//
// IMPORTS
//

@import "remedy";
@import "variables";
// Syntax highlighting @import is at the bottom of this file
@import "part_base";
@import "part_atoms";
@import "part_molecules";

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.info {
  color: white;
  font-size: .75em;
  padding: .5em;
  background: rgba(255,255,255,.05);
}

.date {
  font-style: italic;
  color: $gray;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}
@import "comments";
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.hidden{
  display: none;
}
.small {
  font-size: .65em;
  font-style: italic;
  margin: 0;
}