{% comment %}
    Převedení '```' zápisu na \{\% highlight \%\} (aby šlo kontrolovat v markdown prohlížeči) + vylepšení
    Pouziti: `include code.html code={string} [caption={string|markdown}]`
        - `code`: GitHub code started and ended with new line
        - `caption`: popisek (jeden paragraf)
{% endcomment
%}{% assign pre_code= include.code | split: "
" %}{% assign lines= pre_code | size %}{% capture code %}{% for line in pre_code %}{% if forloop.index > 2 and forloop.index < lines %}{{line}}
{% endif %}{% endfor %}{% endcapture %}{%
capture post_code %}{%
    assign type= pre_code[1] | replace: "```", "" | replace: "JavaScript", "js" | replace: "JS", "js" | replace: "bash", "console" %}{%
    if type == "js" %}{%
        highlight js linenos %}{{code}}{% endhighlight %}{%
    else if type == "JSON" %}{%
        highlight json linenos %}{{code}}{% endhighlight %}{%
    else if type == "CSS" %}{%
        highlight css linenos %}{{code}}{% endhighlight %}{%
    else if type == "HTML" %}{%
        highlight html linenos %}{{code}}{% endhighlight %}{%
    else if type == "PHP" %}{%
        highlight php linenos %}{{code}}{% endhighlight %}{%
    else if type == "console" %}{%
        highlight console %}{{code}}{% endhighlight %}{%
    else  %}{%
        highlight text %}{{code}}{% endhighlight %}{%
    endif %}{%
endcapture %}{%
assign caption= "" %}{% if include.caption %}{% capture caption %}
<figcaption class="info">{{ include.caption | markdownify }}</figcaption>{%
endcapture %}{% endif %}
{{ post_code | replace: "</figure>", caption | append: "</figure>" }}