
.highlight {
  background-color: rgba(0,0,0,.25);
  max-height: 15em;
  padding: 1em 1em 0 .5em;
  border: 1px solid $blue;
  border-left-width: 4px;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: .5em 0 .5em 0;
  overflow: auto;
  pre {
    margin: 0 0 1em 0;
  }
  .code {
    padding-left: 1em;
  }
  +.info{
    margin-top: -.5em;
    border-bottom: 1px solid gray;
  }
}

code {
  font: .75em 'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c { color: #84CE99 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #d1e166 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #d1e166 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #84CE99 } /* Comment.Multiline */
.highlight .cp { color: #d1e166 } /* Comment.Preproc */
.highlight .c1 { color: #84CE99 } /* Comment.Single */
.highlight .cs { color: #d1e166 } /* Comment.Special */
.highlight .gd { color: #8C8FFF } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #d1e166 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #DE84FF } /* Keyword.Declaration */
.highlight .kn { color: #d1e166 } /* Keyword.Namespace */
.highlight .kp { color: #d1e166 } /* Keyword.Pseudo */
.highlight .kr { color: #DE84FF } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #8C8FFF } /* Literal.Number */
.highlight .s { color: #8C8FFF } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #DE84FF } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #DE84FF } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #DE84FF } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #ccc } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #DE84FF } /* Name.Tag */
.highlight .nv { color: #DE84FF } /* Name.Variable */
.highlight .ow { color: #d1e166 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #8C8FFF } /* Literal.Number.Float */
.highlight .mh { color: #8C8FFF } /* Literal.Number.Hex */
.highlight .mi { color: #8C8FFF } /* Literal.Number.Integer */
.highlight .mo { color: #8C8FFF } /* Literal.Number.Oct */
.highlight .sb { color: #84CE99 } /* Literal.String.Backtick */
.highlight .sc { color: #8C8FFF } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #8C8FFF } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #8C8FFF } /* Literal.String.Interpol */
.highlight .sx { color: #8C8FFF } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #8C8FFF } /* Literal.String.Single */
.highlight .ss { color: #8C8FFF } /* Literal.String.Symbol */
.highlight .bp { color: #DE84FF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #DE84FF } /* Name.Variable.Class */
.highlight .vg { color: #DE84FF } /* Name.Variable.Global */
.highlight .vi { color: #DE84FF } /* Name.Variable.Instance */
.highlight .il { color: #8C8FFF } /* Literal.Number.Integer.Long */