.C__with_sidebar {
    flex-direction: row-reverse;
    @include mobile {
        flex-direction: column;
    }
}

.C__sidebarAvatar {
  float: left;
  display: none;
  
  @include is_flex {
    display: initial;
  }
  @include mobile {
    float: none;
    display: block;
    width: 5em;
  }

  img {
    border-radius: 5px;
  }
}

.C__sidebarInfo {
  max-width: 400px; //floatuje bez flexu
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    height: 1.5em;
  }
}

.C__sidebarInfo_name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  padding-bottom: 1em;
}

.C__sidebarInfo_description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: .75em;
  text-align: justify;

  @include mobile {
    display: none;
  }
}

.C__sidebarNav {
  margin-top: .5em;
  
  
  
  @include mobile {
    display: block;
    order: 1;
  }

  a {
    border-left: .2em solid $black;
    background: $white;
    margin: 0 .5em .25em 0;
    padding: .1em 3em .1em 1em;
    display: inline-block;
    width: 100%;
    color: $gray;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    transition: .5s all;
    text-align: left;

    &:hover {
      background-color: $blue;
    }

    @include mobile {
      width: initial;
      margin: 0 10px;
    }
  }
}