/*

display:

*/
.display__f {
    display: flex;
}
/*

flex-*:

*/
/*

flex:

*/
.flex__1 {
    flex: 1;
}
.flex__4 {
    flex: 4;
}
/*

jusify-*:
align-*:

*/
.justifyC__fE {
    justify-content: flex-end;
}
/*

float:

*/
.float__l {
    float: left;
}
.float__r {
    float: right;
}
/*

width:
*-width:
height:
*-height:

*/
.minW__bar {
    min-width: 15rem;
}
.maxW__article {
    max-width: 40rem;
}
.maxH__image {
    max-height: 25rem;
}
/*
    object-*
*/
.objectF__c {
    object-fit: cover;
}
/*

text-*:

*/
.textA__c {
    text-align: center;
}
.textA__j {
    text-align: justify;
}
/*

margin:
margin-*:

*/
.margin__0_auto {
    margin: 0 auto;
}
.margin__1_auto {
    margin: 1rem auto;
}
/*

padding:
padding-*:

*/
.padding__1 {
    padding: 1rem
}
/* ...mobile */
.m_padding__0 {
    @include mobile {
        padding: 0;
    }
}
/*

clearfix
    Nicolas Gallagher's micro clearfix hack
    http://nicolasgallagher.com/micro-clearfix-hack/

*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}