
.display__f {
    display: flex;
}
.flexD__c {
    flex-direction: column;
}
.flex__1 {
    flex: 1;
}
.flex__4 {
    flex: 4;
}
.float__l {
    float: left;
}
.float__r {
    float: right;
}
.minW__bar {
    min-width: 15rem;
}
.maxW__article {
    max-width: 40rem;
}
.textA__c {
    text-align: center;
}
.margin__0_auto {
    margin: 0 auto;
}
.margin__1_auto {
    margin: 1rem auto;
}
.padding__1 {
    padding: 1rem
}




.button {
  display: flex;
  color: white;
  background: $white;
  border: 1px solid $blue;
  line-height: 2em;
  padding: 0 1em .25em 1em;
  transition: .5s all;
  &:hover{
      background: $blue;
  }
  &[disabled]{
      border-color: white;
      background-color: inherit;
  }
}
a.button{
  line-height: 1.5em;
  padding-top: .25em;
  text-decoration: none;
  display: inline-flex;
  &:hover{
    color: white;
  }
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}