.footnotes{
  font-size: .75rem;
  font-style: normal;
  &::before {
    content: "········· Poznámky pod čarou ·········";
    font-style: italic;
  }
  p{
    margin: .5em 0;
  }
}
.info {
  color: white;
  font-size: .75em;
  padding: .5em;
  background: $color_makeLighter;
}
figcaption.info p:only-child{
  margin: .25em 0;
}

.date {
  font-style: italic;
  color: $color_highlightLight;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $color_highlightMiddle;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}
.small {
  font-size: .65em;
  font-style: italic;
  margin: 0;
}