/*
    display
*/
.display__f { display: flex; }
.display__i { display: inline; }
.display__b { display: block; }
/*
    flex
*/
.flex__1 { flex: 1; }
.flex__4 { flex: 4; }
.flexF__rW { flex-flow: row wrap; }
.flexF__cN { flex-flow: column nowrap; }
.justifyC__fE { justify-content: flex-end; }
.justifyC__sB { justify-content: space-between; }
/*
    float
*/
.float__l { float: left; }
.float__r { float: right; }
/*
    width & height
*/
.width__100 { width: 100%; }
.minW__bar { min-width: 15rem; }
.maxW__article  { max-width: 40rem; }
.maxH__image    { max-height: 25rem; }
/*
    object
*/
.objectF__c { object-fit: cover; }
/*
    text & font
*/
.textA__c { text-align: center; }
.fontS__0d75 { font-size: .75rem; }
/*
    margin
*/
.margin__0      { margin: 0; }
.margin__0_auto { margin: 0 auto; }
.margin__1_auto { margin: 1rem auto; }
/*
    padding
*/
.padding__1 { padding: 1rem }
/*
    ...mobile
*/
.m_padding__0 {
    @include mobile {
        padding: 0;
    }
}