.C__visuallyHide {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.C__skipLink {
  &:not(:focus) {
    @extend .C__visuallyHide;
  }
  &:focus {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.C__button {
  display: inline-block;
  text-decoration: none;
  background: $white;
  padding: 0 .5em;
  border: 1px solid $lightGray;
  border-left: 2px solid $blue;
  text-align: left;
  color: $gray;
  transition: .5s all;
  line-height: 2em;

  &:hover {
      background-color: $blue;
      border-color: $blue;
  }
  &[disabled]{
      border-color: $white;
      background-color: inherit;
  }
}
a.C__button {
  text-decoration: none;
  &:hover{
    color: white;
  }
}

.C__with_sidebar {
    flex-direction: row-reverse;
    @include mobile {
        flex-direction: column;
        padding: .5em 0;
    }
}
.C__text_highlited {
  background: rgba(0,0,0,.25);
  padding: .35rem;
  box-decoration-break: clone;
  display: inline-block;
}

.C__header{
  flex-flow: column;
  @include mobile {
    flex: 0;
    flex-flow: row wrap;
    align-items: flex-end;
    padding: 0 .25em;
    margin: 0;
    @include is_flex {
      margin: 0;
    }
  }
}
.C__sidebarAvatar {
  float: left;
  display: none;
  opacity: .35;
  
  @include is_flex {
    display: initial;
  }
  @include mobile {
    float: none;
    display: block;
    width: 5em;
  }

  img {
    border-radius: 5px;
  }
}

.C__sidebarInfo {
  max-width: 400px; //floatuje bez flexu
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.C__sidebarInfo_name {
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  color: $blue;
  cursor: pointer;
  text-shadow: 1px 1px $white, -1px 1px $white, 1px -1px $white, -1px -1px $white;
  @include mobile {
    margin-bottom: 0;
    padding-bottom: 0;
    background: none; 
    min-width: 7em;
    display: block; //flex fallback
  }
}

.C__sidebarInfo_description {
  display: inline;
  color: $gray;
  font-size: .75em;

  @include mobile {
    display: none;
  }
}

.C__sidebarNav {
  margin-top: .5em;
  flex-direction: column;

  &_active {
    border-color: $blue;
  }
  
  @include mobile {
    flex-direction: row;
    align-items: flex-end;
    order: 1;
  }

  a {
    margin: 0 .5em .25em 0;
    width: 100%;

    @include mobile {
      width: initial;
      margin: 0;
    }
  }
}
.C__figureWrapper {
  margin: 0;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

  &:hover, &:active {
    opacity: .75;
  }
}