.svg-icon {
  @extend %block_hover;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  padding: .25em .75em;
  margin: .25em;

  &[href^="http"]{ //default a
    padding-left: .75em;
  }

  &.account_twitter {
    background: #0092c7;
  }
  &.account_github {
    background: black;
    color: $color_regularFG;
  }
  &.rss {
    background: #e49800;
  }
  &.rss_dev {
    background: #e49800;
  }
}
