.svg-icon {
  @extend %block_hover;
  letter-spacing: -1px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  padding: .1em .75em;
  vertical-align: middle;

  &.twitter {
    background: #00ACED;
  }
  &.github {
    background: black;
  }
  &.rss {
    background: #ffab00;
  }
  &.rss_dev {
    background: #ffab00;
  }
}
