.svg-icon {
  letter-spacing: -1px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  padding: .1em .75em;
  vertical-align: middle;
  &:hover {
    opacity: .75;
  }

  &.twitter {
    background: #00ACED;
    &:after{
      content: "t";
    }
  }
  &.github {
    background: black;
    padding: 0 .7em .2em .7em;
    &:after{
      content: "g";
    }
  }
  &.rss {
    background: #ffab00;
    &:after{
      content: "r";
    }
  }
}
