
//
// VARIABLES
//

// Colors
$blue: #ff5a5a;

// Grays
$black: #000;
$darkerGray: #e8e8e8;
$darkGray: #f0e7d5;
$gray: #e8e8e8;
$lightGray: #424242;
$white: #252525;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

%bg-image {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23151515' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
// No flex fallback
@mixin is_flex {
  @supports (display: flex){
    @content;
  }
}