---
layout: default
permalink: /blog/tags.html
---
<article class="maxW__article margin__0_auto">
  <h1>Přehled štítků</h1>
  <div class="C__tagsCloud">
  {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      {% assign odd_1= forloop.index | modulo: 2 %}{% assign odd_2= forloop.index | modulo: 6 %}
      <a href='#tag_anchor_{{ t | downcase | replace:" ","-" }}' style="font-size: {{ posts | size | times: 4 | plus: 80 }}%; {%
        if odd_2 == 1 %}display:block;{% elsif odd_1 == 1 %}top: -.25em; left: .25em;{% else %}top: .25em; right: -.25em;{% endif %}">{{t}}</a>
  {% endfor %}
  </div>

  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

  <h2 id='tag_anchor_{{ t | downcase | replace:" ","-" }}'>Příspěvky se štítkem '{{ t }}'</h2>
  <ul>
  {% for post in posts %}
    {% if post.tags contains t %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>{% if post.category == "dev" %} <small><i>(DEV)</i></small>{% endif %}
      {% include molecule_articleInfo.html content=post.content date=post.date tags=post.tags %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endfor %}
</article>