---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="info">
    <b>Written on</b> {{ page.date | date: "%B %e, %Y" }}
    {%- if page.tags[0] %} | <b>Tags:</b> 
      {% for tag in page.tags -%}
        {% if forloop.index0 %}, {% endif %}{{forloop.index0}}
        <a href="/tags#tag_anchor_{{ tag | downcase }}">{{tag}}</a>
      {%- endfor -%}
    {%- endif -%}
  </div>

  <div class="entry">
    {{ content }}
  </div>
  
  {% include staticman-comments.html %}

</article>
