{% assign _S= include.spaces %}<form method="get" id="search" action="https://duckduckgo.com/" class="clearfix display__f flexF__rW justifyC__fE">
{{_S}} <input type="hidden" name="sites" value="{{ site.url }}"/>
{{_S}} <label class="flex__1 minW__75">{%comment%}{%endcomment
        %}<span class="C__visuallyHide">Vyhledat na blogu</span>{%comment%}{%endcomment
        %} <input class="width__100 margin__0" type="text" name="q" maxlength="300" placeholder="Zapište hledané výrazy…"/>{%comment%}{%endcomment
        %}</label>
{{_S}} <input type="hidden" name="kae" value="#252525" />
{{_S}} <button type="submit" class="C__button float__r marginL__1" >Vyhledat</button>
{{_S}}</form>