{%-   capture strip_atom %}
{%    assign m = include.date | date: "%-m" %}
{%    capture time_inner -%}
{{ include.date | date: "%-d" }}. {%
case m -%}
  {%- when '1' -%}ledna
  {%- when '2' -%}února
  {%- when '3' -%}března
  {%- when '4' -%}dubna
  {%- when '5' -%}května
  {%- when '6' -%}června
  {%- when '7' -%}července
  {%- when '8' -%}srpna
  {%- when '9' -%}září
  {%- when '10' -%}října
  {%- when '11' -%}listopadu
  {%- when '12' -%}prosince
{%-   endcase %} {{ include.date | date: "%Y" }}
{%-    endcapture
%}{%  endcapture
%}{%  assign strip_atom= nill
%}<time datetime="{{ include.date | date: '%Y-%m-%d' }}">{{ time_inner }}</time>