{%      assign user_mastodon= site.data.social.account_mastodon
%}{%    assign post_url= page.url | prepend: site.url | url_encode
%}{%    assign link_params= ' target="_blank" rel="nofolow"'
%}{{_S}}<div class="C__asideInfo">
{{_S}} {% include i/atom_asideHeadline.html headline="Komentáře" icon=":speech_balloon:" %}
{%- if page.toot %}
{{_S}} <a href="{{user_mastodon.href}}{{user_mastodon.account}}/{{page.toot}}" {% comment %}{% endcomment
        %}title="Diskutovat lze na Mastodonu"{% comment %}{% endcomment
        %}{{link_params}}>viz Mastodon</a>
{{_S}} <br>
{%- endif %}
{{_S}} <a href="https://discu.eu/?q={{post_url}}&submit_title={{page.title}}" {% comment %}{% endcomment
        %}title="Diskuze nalezené pomocí discu.eu"{% comment %}{% endcomment
        %}{{link_params}}>discu.eu</a>
{{_S}}</div>
