{% assign link_repo= site.code.hosted | append: site.code.repository -%}
{% assign link_file= "/tree/master/" | append: page.path
%}{{_S}}<div class="C__asideInfo">
{{_S}} {% include i/atom_asideHeadline.html headline="Upravit/Nahlásit chybu" icon=":pencil2:" %}
{%- if page.issue %}
{{_S}} <a href="{{link_repo}}/issues/{{ page.issue }}" target="_blank" rel="nofolow" title="Odkaz na „zadání” tohoto příspěvku v Github Issues">#{{ page.issue }}</a>
{{_S}} <br>
{%- endif %}
{{_S}} <a href="{{link_repo}}{{link_file}}" target="_blank" rel="nofolow" title="Odkaz na zdrojový soubor na GitHubu">Zdrojový soubor</a>
{{_S}}</div>