<div class="info display__f flexF__cN">
    {% include i/atom_asideHeadline.html headline="Předchozí/Následující" icon=":calendar:"
%}{%    assign previous_name= "Předchozí"
%}{%    assign previous= page.previous
%}{%    unless previous
%}{%        assign previous_name= "Nejnovější"
%}{%        assign previous= site.posts | first
%}{%    endunless
%}{%    assign next_name= "Následující"
%}{%    assign next= page.next
%}{%    unless next
%}{%        assign next_name= "Nejstarší"
%}{%        assign next= site.posts | last
%}{%    endunless %}
    <a rel="prev" href="{{previous.url}}" title="{{previous.title}}">{{previous_name}}</a>
    <br>
    <a rel="next" href="{{next.url}}" title="{{next.title}}">{{next_name}}</a>
</div>