<div class="info display__f flexF__cN">
    {% include i/atom_asideHeadline.html headline="Nejpodobnější články" icon=":point_down:"
%}{%    assign related_posts= ""
%}{%    for post in site.posts
%}{%    assign relationCount = 0
%}{%    for tag in post.tags
%}{%        if post.url != page.url
%}{%            if page.tags contains tag
%}{%                assign relationCount = relationCount | plus: 1
%}{%            endif
%}{%        endif
%}{%    endfor
%}{%    if post.category == page.category
%}{%        assign relationCount = relationCount | plus: 10
%}{%    endif
%}{%    if post.url == page.url
%}{%        continue
%}{%    endif
%}{%    assign curr= relationCount | append: "0000" | slice: 0,4 | replace_first: relationCount, "" | append: relationCount | append: "|||" | append: post.date | append: "|||" | append: post.title | append: "|||" | append: post.url
%}{%    assign related_posts= related_posts | append: "||||||" | append: curr
%}{%    endfor
%}{%    assign related_posts= related_posts | split: "||||||" | sort | reverse
%}{%    assign post_text_limit= 50
%}{%    for post in related_posts limit:5
%}{%        assign post_params= post | split: "|||"
%}{%        assign post_text= post_params[2]
%}{%        assign ellipsis= post_text | size | minus: post_text_limit | at_least: 0 | at_most: 1 | replace: 0, "" | replace: 1, "…"
%}
    <a href="{{ post_params[3] }}" title="{{ post_text }}">{{ post_text | slice: 0, post_text_limit }}{{ellipsis}}</a>{%
        endfor
%}
</div>