{%    include i/atom_formSearch.html spaces="      "
%}{%  assign limit= include.limit | default: site.posts.size
%}{%  assign category= include.category | default: ""
%}{%  for post in site.posts
%}{%    if category != "" and post.category and post.category != category
%}{%      continue
%}{%    endif
%}{%    if limit == 0
%}{%      break
%}{%    endif 
%}
      <article class="post" role="article">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        {% include i/molecule_articleInfo.html content=post.content date=post.date tags=post.tags %}
        <div class="entry">
          {{ post.excerpt | rstrip }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="C__button float__r" tabindex="-1">Přečíst celé »</a>
      </article>
{%-     assign limit= limit | minus: 1
%}{%  endfor
%}{%  if limit == include.limit or limit == site.posts.size
%}
  <p>Prozatím tu nejsou žádné příspěvky.</p>
{%-   endif
%}{%  assign separator= "          "
%}{%  capture categories_pages
%}{%    for page in site.pages
%}{%      unless page.in_menu and page.category and page.category!=category
%}{%        continue
%}{%      endunless
%}{{ separator }}<a href="{{ page.url }}" title="{{ page.description | strip_html }}">{{ page.title }}</a>
{%-   endfor
%}{%  endcapture
%}<p class="C__textHighlited">Další příspěvky jsou v {{ categories_pages | strip | replace: separator, " nebo " }}.</p>
